.side-1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
}

.desktop-text{
    background:orange;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight:700;
    font-size: 15px;
}

.common_img-desktop{
    width: 330px;
    height: 330px;
}

h4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
/* or 125% */

text-transform: capitalize;

color: #000000;
}
