.sign-up-back{
    /* background-color: coral; */
     height: 100vh; 
    /* background-color: white;  */
}

.signup-right{
    height: 775px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 25px;
    background-color: #fff;
}

.signUp-bg{
    background-color: #1b0839;
}

.google-icon{
    display: flex;
    justify-content: space-evenly;
}