.desktop-text-11 {
  background: #956abf;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  width: 100%;
  height: 77px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-transform: uppercase;
}

.desktop11-right {
  display: flex;
  align-items: center;
}

.back-img {
  background-color: blueviolet;
}

.desktop11-text {
  color: #000000;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .desktop11-text {
    margin: 18px 20px;
  }
}

@media screen and (max-width: 768px) {
  .desktop11-text {
    margin: 12px 25px !important;
  }
}

@media screen and (max-width: 425px) {
  .desktop11-text {
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
  }
  .desktop11-right {
    text-align: center;
    display: block;
  }
}
