.title-select-joinus{
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}

.text-content-joinus{
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}

.joinus-btn{
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}