.left{
    background-color: #5B03F6;
    height: 700px;
}

.right{
    background-color: #E6E7E8;
}

.div-center{
    position: absolute;
    text-align: -webkit-center;
    top: 230px;
    bottom: 0;
    right: 0;
    left: 0;
}

@media screen and (min-width:768px) {
    .div-center{
        text-align: -webkit-center;
    }
}

.circle-logo{
    background: #ADA7F8;
    border-radius: 50px;
    height: 100px;
    width: 100px;
}

h1{
    font-weight: 700;
    font-size: 45px;
}

.circle-msg{
    padding: 22px 11px 0px 10px;
}

.label{
    text-align: left;
    float: left;
    font-family: 'Poppins';
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

.form-getInTouch{
    text-align: -webkit-center;
    /* margin-top: 15%; */
}

.input-container-getIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 20px;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.connect{
    background: #265CF6;
    width: 75%;
    padding: 10px;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.connect:hover{
    background-color: orange;
}

.err-msg{
    color: red;
    margin: 0 auto;
}
.title-select{
    color: #fff;
    font-size: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}
.text-content{
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}


@media screen and (max-width:425px) {
    .left{
        background-color: #5B03F6;
        height: 200px;
    }
    .div-center {
        position: absolute;
        text-align: -webkit-center;
        top: 45px !important;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .circle-logo {
        background: #ADA7F8;
        border-radius: 50px;
        height: 75px;
        width: 75px;
    }
    
    
    .circle-msg {
        width: 100%;
        padding: 23px 15px 23px 15px!important;
    }
    h1 {
        font-weight: 700;
        font-size: 30px;
    }
}