.select-back{
    background-color: #F4F3F3;
}

.custom{
    width: 25%;
}

.custom-div-top{
    width: 25%;
}

.custom-div-bottom{
    width: 50%;
}

.box{
    /* border: 1px solid #fff;
    padding: 50px;
    height: 136px;
    border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #fff;
    height: 136px;
    background-color: #5B03F6;
}

.box-div{
    width: 50%;
}

@media screen and (max-width:768px) {
    .custom{
        display: block;
    }
}

.logo-section-div{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5%;
}


.title-selectPartners{
    color: #000000;
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
}

.text-content-selectPartners{
    color: #000000;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}


.common-img{
    width: 50%;
}

.logo-Once{
    width: 30%;
}

.logo-Neigh{
    width: 75%;
}

.logo-NoScroll{
    width: 30%;
}

.logo-San{
    width: 35%;
}

.col{
    margin-bottom: 20px;
}

@media screen and (max-width:768px) {
    .logo-Once{
        width: 20%;
    }
    .logo-NoScroll{
        width: 15%;
    }
    .logo-San{
        width: 20%;
    }
    .common-img{
        width: 35%;
    }
}

