.hero-background {
  width: 100%;
  /* background-color: #260f43; */
  background: linear-gradient(
    100.54deg,
    #0f2455 2.77%,
    #0a1736 21.93%,
    #060d20 60.12%,
    #422246 101.5%
  );
}

.frame {
  width: 100%;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .middle {
    display: block;
  }

  .btn-slack {
    margin-left: 80px;
  }
}

/* @media screen and(max-width:573px) and(min-width:425px) {
  .btn-slack {
    margin-left: 0px !important;
  }
} */

/* .Layer_1{
    width: 100%;
} */

.text-one {
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 40px;
  /* line-height: 20px; */
  text-transform: none;
}

.text-second {
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 45px;
}
.text-para {
  color: #fff;
  font-size: 18px;
  text-align: justify;
  margin: 0 auto;
}

.text-sub-para {
  font-family: "Poppins";
  font-style: normal;
  /* width: 66%; */
  color: #fff;
  font-size: 18px;
  margin: 0;
  text-transform: none;
}
@media screen and (min-width: 768px) and (max-width: 823px) {
  .container {
    max-width: 635px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 635px;
  }

  .text-one {
    /* font-size: 48px;
        line-height: 55px; */
    font-size: 29px;
    line-height: 30px;
  }
  .text-second {
    font-size: 25px;
    line-height: 30px;
  }
  .left-text {
    text-align: left;
    padding-left: 28px;
    padding-right: 28px;
  }
  .text-sub-para {
    width: 100%;
    color: #fff;
    font-size: 15px;
    margin: 0;
  }
  .Layer_1 {
    background-size: 100% 100%;
  }
}

.btn-join:hover {
  background: #5b03f6;
}

.btn-join {
  /* background: #5B03F6;
    border-radius: 100px; */
  background: #54a259;
  border-radius: 5px;
  border: none;
  width: 189px;
  height: 49.82px;
  left: 161px;
  top: 425px;
}

.btn-join:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  background-color: orange;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .left-text {
    text-align: left;
    padding-left: 7%;
    padding-right: 7%;
  }
  .text-one {
    /* font-size: 65px;
        line-height: 70px; */
    font-size: 40px;
    line-height: 40px;
  }
  .btn-slack {
    margin-left: 3rem !important;
  }
  .dtn-div {
    gap: 20px;
  }
}

@media screen and (max-width: 760px) {
  .text-one {
    /* font-size: 56px;
        line-height: 65px; */
    font-size: 34px;
    line-height: 34px;
  }
  .text-section {
    margin-top: 20%;
  }
  .Layer_1 {
    height: 300px !important;
    background-size: cover;
  }
  .text-sub-para {
    font-size: 18px;
  }
}

@media screen and(min-width:425) {
  .btn-slack {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 375px) {
  .text-one {
    /* font-size: 49px;
        line-height: 55px; */
    font-size: 30px;
    line-height: 30px;
  }
  .btn-slack {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 320px) {
  .text-one {
    /* font-size: 40px;
        line-height: 50px; */
    font-size: 25px;
    line-height: 30px;
  }
  .text-sub-para {
    font-size: 15px;
  }
  .btn-slack {
    margin-left: 0px !important;
  }
}

.Layer_1 {
  background-image: url("../../assets/svg/Rocket_No_Background.svg");
  background-repeat: no-repeat;
  height: 600px;
}

.right-text-center {
  display: flex;
  align-items: center;
}


.btndiv{
  /* padding-top: 40px !important; */
  padding-left: 40px;
}

@media only screen and (max-width: 570px) {
  .btndiv {
     padding-left: 100px !important;
  }
}

.text-sub-para{
  font-size: 30px;
  margin-bottom: 100px;
}