.hero-background{
    width: 100%;
    background-color: #260f43;
}

.frame{
    width: 100%;
}

.middle{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:768px){
    .middle{
        display: block;
    }
}

/* .Layer_1{
    width: 100%;
} */

.text-one{
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 80px;
    text-transform: none;
}

.text-second{
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 45px;
}
.text-para{
    color: #fff;
    font-size:18px;
    text-align: justify;
    margin: 0 auto;
    
}

.text-sub-para{
    font-family: 'Poppins';
    font-style: normal;
    width: 66%;
    color: #fff;
    font-size: 18px;
    margin: 0;
    text-transform: none;
}



@media screen and (max-width:768px){
    .text-one{
        font-size: 48px;
        line-height: 55px;
    }
    .text-second{
        font-size: 25px;
        line-height: 30px;
    }
    .left-text{
        text-align: left;
        padding-left: 28px;
        padding-right: 28px;
    }
    .text-sub-para{
        width: 100%;
        color: #fff;
        font-size: 18px;
        margin: 0;
    }
    .Layer_1{
        background-size: 100% 100%;
    }
}

.btn-join:hover{
    background: #5B03F6;
}

.btn-join{
    background: #5B03F6;
    border-radius: 100px;
    border: none;
    width: 189px;
    height: 49.82px;
    left: 161px;
    top: 425px;
}


.btn-join:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
    background-color: orange;
  }


@media screen and (min-width:769px) and (max-width:1024px) {
    .left-text{
        text-align: left;
        padding-left: 7%;
        padding-right: 7%;
    }
    .text-one{
        font-size: 65px;
        line-height: 70px;
    }
   
}

@media screen and (max-width:425px) {
    .text-one{
        font-size: 56px;
        line-height: 65px;
    }
    .Layer_1{
        height: 300px;
        background-size: cover;
    }
}

@media screen and (max-width:375px) {
    .text-one{
        font-size: 49px;
        line-height: 55px;
    }
}

@media screen and (max-width:320px) {
    .text-one{
        font-size: 40px;
        line-height: 50px;
    }
    .text-sub-para{
        font-size: 15px;
    }
}

.Layer_1{
    background-image: url("../../assets/svg/Rocket_No_Background.svg");
    background-repeat: no-repeat;
}