/* .TitleandText{
    background-color: #fff;
} */

.component-title-text{
    color:#25305A;
    font-size: 45px;
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}

.component-text-content{
    color:#25305A;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    text-transform: none;

}

@media screen and (max-width:425px) {
    .component-title-text{
        font-size: 32px;
    }
    .component-text-content{
        font-size: 25px;
    }   
}
