
/* @media only screen and (max-width: 991px) {
  ul.navbar-nav {
 margin-right: 400px !important;
  
  }
} */



/* .top-div{
    padding: 20px 20px;
} */

.row.bottom{
    padding-top: 20px 0px;
}

.services-list{
    padding: 0px 50px;
}

.second-top-div{
     padding-bottom: 20px;
}

.top-div{
    background-color: gainsboro !important;
    padding-left: 40px;
}

.nav-link{
    font-size: 15px;
    color: black !important;
   font-weight: bolder;
}

.navbar-brand{
     font-size: 15px;
    color: black !important;
   font-weight: bolder;
}

.navbar-expand-lg{
    justify-content: space-between;
    /* padding-left: 50px; */
    background-color: gainsboro;
    /* height: 40px; */
    border: none;
    /* margin: 1px; */
}
  


.navbar-nav{
    flex-direction: row;
    justify-content: space-between !important;
   
    
}

@media (max-width: 400px){
    .navbar-expand-lg {
        justify-content: left;
    /* flex-wrap: nowrap;
    justify-content: flex-start; */
}
}

.bottom{
    margin: 0px 50px;
    /* padding: 20px 100px; */
}



@media (max-width: 760px){
    .bottom{
        margin: 30px 0px;
        padding: 0px;
  }
    
}

/* @media (max-width: 760px){
    .bottom{
        margin: 30px 100px;
  }
    
} */


.inpt{
    width: 400px;
}

@media (max-width: 1047px){
 .inpt{
        width: 200px;
  }
}

/* ul.li:first-child{
    margin-left: 0px !important;
} */

.newImg{
    height: 40px;
    width: 40px;
    /* background-color: rgb(201, 192, 192); */
    border-radius: 5px;
    margin-right: 10px;
}

.img-heading{
    display: flex;
}
.test{
    margin-top: 50px;
}

.buld-img{
     height: 30px;
    width: 30px;
}

.filter-h5{
    color: black !important;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
   
   
    /* border: 2px solid;
    display: flex; */
}

.filter-div{
    width: 100px;
      border: 2px solid;
       margin-top: 20px;
       text-align: center;
       padding: 5px;
       border-radius: 5px;
       display: flex;
}
.filter-img{
    height: 20px;
    width: 20px;

}


.command-X{
    /* background-color: rgb(247, 246, 248); */
   
    border: 1px solid gray;
    border-radius: 5px;
}

.titl-row{
    height: 40px;
    background-color: rgb(247, 246, 248);
    border-bottom: 1px solid gray;
    padding-top:10px ;
}

 .content-row{
     height: 70px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid gray;
 }

 .content-row p{
    color: black;
    margin: 0px;
    margin-left: 10px;
    font-weight: bold;
 }

 .content-row h6{
    color: black;
    margin: 0px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-weight: 100;
  
 }

 .hey{
    display: flex;
    margin: 10px 10px;
    margin-bottom: 0px;
 }

 

/* .fixed-top{
    margin-top: 15px;

 } */

 .flx{
    display: flex;
    justify-content: space-between;
 }

 .fail{
    padding-top:20px ;
 }