
/* @media only screen and (max-width: 991px) {
  ul.navbar-nav {
 margin-right: 400px !important;
  
  }
} */



/* .top-div{
    padding: 20px 20px;
} */

/* .second-top-div{
     padding: 20px 20px;
} */

.top-div{
    background-color: rgb(224, 230, 230) !important;
    padding-left: 37px;
}
.sts{
.navbar-expand-lg{
    justify-content: space-between;
    padding-left: 50px;
    background-color: red;
    height: 40px;
    border: none;
    margin: 1px;
}
  
}

.navbar-nav{
    flex-direction: row;
    justify-content: space-between !important;
   
    
}

@media (max-width: 400px){
    .navbar-expand-lg {
        justify-content: left;
    /* flex-wrap: nowrap;
    justify-content: flex-start; */
}
}

.bottom{
    margin: 30px 200px;
    /* padding: 20px 100px; */
}

@media (max-width: 760px){
    .bottom{
        margin: 30px 100px;
  }
    
}


.inpt{
    width: 500px;
}

@media (max-width: 1047px){
 .inpt{
        width: 200px;
  }
}

/* ul.li:first-child{
    margin-left: 0px !important;
} */

