/* Styles for firstdiv */
.firstdiv {
    background-color: rgb(241, 237, 237);
    padding: 10px;
}

/* Styles for top-row */
.top-row {
    background-color: rgb(224, 217, 217);
    height: 150px;
}

.top-row .search-inpt {
    margin-top: 100px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    width: 100%;
}

/* Styles for bottom-row */
.bottom-row {
    padding: 10px;
}

/* Styles for lists and project-list items */
.lists {
    background-color: white;
    padding: 10px 20px;
}

.project-list {
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: baseline;
    padding-top: 10px;
    margin-top: 2px;
}

.project-list:hover {
    background-color: rgb(226, 222, 222);
}

.project-list.first {
    background-color: rgb(226, 222, 222);
    border-radius: 5%;
}

/* Styles for icons and links */
.icon {
    height: 20px;
    width: 20px;
    background-color: rgb(114, 110, 110);
    display: inline-block;
    margin: 0px 10px;
}

a {
    text-decoration: none;
    color: black;
}

/* Styles for seconddiv */
.seconddiv .row {
    background-color: rgb(190, 181, 181);
    padding: 40px;
}

.seconddiv .row h1 {
    color: black;
}

/* Media queries for responsiveness */

/* Mobile devices */
@media (max-width: 575.98px) {
    .firstdiv, .top-row .search-inpt, .bottom-row, .lists, .project-list, .icon, a {
        width: 100%;
    }

    .seconddiv .row {
        padding: 20px;
    }
}

/* Tablet devices */
@media (min-width: 576px) and (max-width: 767.98px) {
    .firstdiv {
        height: auto;
    }

    .seconddiv .row {
        padding: 40px;
    }
}

/* Laptop devices */
@media (min-width: 768px) and (max-width: 991.98px) {
    .firstdiv {
        height: 100vh;
    }
}

/* Desktop devices */
@media (min-width: 992px) {
    /* Add styles for desktop if needed */
}



.firstdiv{
    background-color: rgb(241, 237, 237);
    height: 100vh;
    padding: 10px 10px;
 
}

.top-row{
    background-color: rgb(224, 217, 217);
    height: 150px;
    margin: 0px 0px;
    /* width: 335px; */
     /* padding: 10px 5px; */
    /* padding: 5px 20px !important; */
    
}

.top-row .search-inpt{
    margin-top: 100px;
    height: 40px !important;
    margin-left: 10px;
    text-align: center;
    width: 300px;
   
    
 
    
}

.bottom-row{
    padding: 10px 10px;
}

.lists{
     height: 100vh;
    background-color: white;
 
    padding: 10px 20px;
}

.project-list{
    height: 50px;
    background-color: white;
   display: flex;
   justify-content: last baseline;
    padding-top: 10px;
    margin-top: 2px;
}

.project-list:hover{
     background-color: rgb(226, 222, 222);
}



.project-list.first{
    background-color: rgb(226, 222, 222);
    border-radius: 5%;
      
}


.project{
    background-color: beige;
}

.icon{
    height: 20px;
    width: 20px;

    background-color: rgb(114, 110, 110);
    display: inline-block;
    margin: 0px 10px;
    
}

a{
    text-decoration: none;
    color: black;
}

.seconddiv .row{
    height: 160px;
    background-color: rgb(190, 181, 181);
    padding: 60px 50px;
}

.seconddiv .row h1{
    color: black;
}