.fourth-back{
    background-color: #fff;
}

.lorem-title{
    font-family: 'Poppins';
    font-style: normal;
    color: #000;
    text-align: left;
}

.lorem-text{
    font-family: 'Poppins';
    font-style: normal;
    color: #000;
    font-size: 20px;
    margin: 0!important;
    width: 415px;
}

.bottom-left{
    padding-left: 5%;
}


.right-img{
    position: absolute;
    left: 15%;
}


@media screen and (max-width:768px) {
    .right-img{
        position: relative;
        left:0;
    }
    .lorem-text{
        font-size: 18px;
        width: 100%;
    }
    .lorem-title{
        font-size: 20px;
    }
}
