h2 {
  line-height: inherit;
  border-bottom: none;
  text-align: inherit;
 
}

.problem{
  color: red;
}

li{
  font-size: 21px;
    line-height: 30px;
    font-family: 'Poppins';
    margin: 10px auto;
    font-weight: 600;
    /* padding-left: 10px; */
}

.problem-section{
  background-color: rgb(214, 214, 236);
  margin-bottom: px;

}

.problem-content{
  padding: 10px 12px;
  margin-bottom: 0px !important;
}

/* li{
  color: red;
} */


/* @media (max-width: 767px) {
  .heading {
    text-align: center;
  }
}


@media (min-width: 768px) {
  .heading {
    text-align: left;
  }
} */