.hey{
    margin-top: 100px;
    margin-right: 500px !important;
    background-color: blue;
}
.row {
display: flex;
}
.top-div{
    height: 50px;
    background-color: black;
}

.data-name{
    color: black !important;
    font-weight: bold !important;
    font-size: 20px;
    
}

.data-repo{
    color: black !important;
    font-weight: bold !important;
   font-size: 14px ;
}

.navDiv{
    margin: 100px 200px;
}

.inpt{
    margin-right: 200px;
    width: 600px !important;
}

.main{
   display: flex;
   align-items: center;
   border: 1px solid black;
}

.leter-div{
    background-color: gray;
    height: 80px ;
    width: 80px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-div{
    padding: 0px 50px;
}