
.main{
    margin-top: 50px;
    background-color: white;
       margin: 30px 100px;
       padding: 30px 50px;
       border: 1px solid rgb(231, 222, 222);
       border-radius: 10px;
    
}

@media (max-width: 807px){
    div.user-div.col-10{
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px !important;
        padding-left: 50px !important;
 
    }
}

.leter-div{
    background-color: gray;
    height: 50px ;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
} 



.user-div{
    padding: 0px 50px;
    
}  

.data-repo{
    color: black !important;
     margin-right: 420px;
     margin: 0px;
     padding: 0px;
}

.data-name{
    color: black !important;
    font-weight: bold !important;
     margin-right: 420px;
     margin: 0px;
     padding: 0px;
}

.remove{
    width: 50px;
    height: 50px;
     margin-top: 10px;
     border-radius: 50%;
   
     font-weight: bold !important;

}

.remove:hover{
    background-color: rgb(236, 40, 40);
}